* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: lightseagreen;
  display: flex;
  align-items: center;
  width: 100%;
}

header>.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1%;
}

header img {
  width: 70px;
  height: auto;
}

header>button {
  margin-left: auto;
  border: solid 1px black;
  border-radius: 9px;
  padding: 1% 2%;
  background-color: white;
}

button:hover {
  background-color: antiquewhite;
}

header>div:last-of-type {
  margin-left: 1%;
}

main {
  width: min(700px, 100%);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

article {
  background-color: lightskyblue;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 50px 1fr 50px 50px;
  align-items: center;
  padding: 0% 5%;
}

article>h4, article>p {
  grid-column: 1;
}

article>button {
  grid-row: 1;
  padding: 8% 2%;
  border-radius: 9px;
  border: solid 1px black;
  background-color: white;
}

article>button.read {
  grid-column: 2;
}

article>button.delete {
  grid-column: 3;
}

button.completed {
  background: green;
}

